@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  --form: #e9e9e9;
  --new-bg: #f9f9f9;
  --accent---main-green: #009661;
  --text---main: #252525;
  --text---secondary: #8b959e;
  --general---white: #fff;
  --font-family: "Manrope";
  --second-family: "IBM Plex Sans", sans-serif;
  --third-family: "Book Antiqua", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  width: 1220px;
  margin: 0 auto;
}

.greenproz {
  background: rgba(0, 150, 97, 0.1)
}

.graycard {
  background: rgba(139, 149, 158, 0.05);
}

.text-custom-green {
  color: #28ad88
}

/* у меня иначе почему то в кнопке не меняются какие-либо значения, только напрямую через css если задавать их, то он затерают дефолтные */